<!doctype html>
<html lang="en">

<head>
    <title>Blog</title>
    <%- include('shared-imports') %>
    <link rel="stylesheet" href="/css/blog.css">
</head>

<body>
    <!--header-->
    <%- include('header') %>
    <!--header-->
    <div class="parallax" data-parallax="scroll" data-image-src="/images/img_head_blog.jpg" data-position-Y="top">
        <div class="background-color">
            <div class="container">
                <div class="row fix-title-head">
                    <div class="col-md-12 wow  fadeIn" data-wow-delay="0.5s" style="width: 100%;text-align: center">
                        <span class="title-yellow-head">Let's Share</span>
                    </div>
                    <div class="col-md-12 wow  bounceIn" data-wow-delay="1s" style="width: 100%;text-align: center">
                        <h2 class=" title-h2-head ">SPECIAL PLACE</h2>
                    </div>
                    <div class="col-md-12 wow  fadeInUp" data-wow-delay="1.5s" style="width: 100%;text-align: center">
                        <p class="p-head">
                            An unforgettable dining experience
                            in the heart of Detech Tower, Vietnam. <br>
                            Contemporary Italian fusion cusine, inspired by the
                            traditions of the rural town Naples.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--container-->
    <section class="blog clearfix">
        <div class="container clearfix">
            <div class="row">
                <div class="col-md-12" style="margin-bottom: 30px">
                    <div class="row">
                        <div class="col-md-6 tages">
                            <p>Tages &ensp;</p>
                            <ul class="nav">
                                <!--  category-->
                                <% DanhMucs.map((e) => { %>
                                <li><a href="/blog/<%= e.ID %>"><%= e.Ten %></a></li>
                                <% }) %>
                            </ul>

                        </div>
                        <div class="col-md-6 ">
                            <form action="/search" method="get" class="form-inline">
                                <input type="text" name="search" required placeholder="Enter keywords">
                                <button type="submit" class="btn-search">
                                    <i class="fas fa-search"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row" style="display: block;float: left;">
                        <!--   article-->
                        <%- include('grid-article') %>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <%- include('footer') %>
    <!--javascript-->
    <script type="text/javascript" src="/lbs/mdBootstrap/js/jquery.js"></script>
    <script type="text/javascript" src="/lbs/mdBootstrap/js/parallax.min.js"></script>
    <script type="text/javascript" src="/lbs/mdBootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/lbs/mdBootstrap/js/mdb.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            new WOW().init();
        });

        function seeMore(dom) {
            if (dom.parentElement.offsetHeight <= 550) {
                dom.innerText = 'see less...';
                dom.parentElement.style.height = 'auto';
            } else {
                dom.innerText = 'see more...';
                dom.parentElement.style.height = '550px';
            }
            // dom.innerText = 'see less';
            // console.log(dom.innerText)
            // dom.parentElement.style.height = 'auto';
            // console.log(dom.parentElement.offsetHeight)
        }
    </script>
    <!-- back on top-->
    <script type="text/javascript">
        function toTop() {
            // document.documentElement.scrollTop = 0;
            $('html,body').animate({
                scrollTop: 0,
            }, 700)
        }
    </script>
</body>

</html>