<!doctype html>
<html lang="en">

<head>
    <title>Cart</title>
    <%- include('shared-imports') %>
    <link rel="stylesheet" href="/css/cart.css">
</head>

<body>
    <%- include('header')%>
    <!--header-->
    <div class="parallax" data-parallax="scroll" data-image-src="/images/img_head_cart.jpg" data-position-Y="center">
        <div class="background-color">
            <div class="container">
                <div class="row fix-title-head">
                    <div class="col-md-12 wow  fadeIn" data-wow-delay="0.5s" style="width: 100%;text-align: center">
                        <span class="title-yellow-head">Delivery</span>
                    </div>
                    <div class="col-md-12 wow  bounceIn" data-wow-delay="1s" style="width: 100%;text-align: center">
                        <h2 class=" title-h2-head ">FAST - FREE</h2>
                    </div>
                    <div class="col-md-12 wow  fadeInUp" data-wow-delay="1.5s" style="width: 100%;text-align: center">
                        <p class="p-head">
                            An unforgettable dining experience
                            in the heart of Covent Garden, London. <br>
                            Contemporary british menu, inspired by the
                            traditions of Great Britain.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--icon-->
     <div class="background-icon">
        <div class="container">
            <section class="effect-icon">
                <div class="row">
                    <div class="col-md-8 slideInLeft text-shiphang">
                        <p>Your bag is empty !!!</p>
                    </div>
                    <div class="col-md-4 div-shiphang slideInLeft">
                        <div class="fa-pull-right">
                            <img id="icon" class="ship-hang" style="max-height: 200px"
                                src="/images/sai-gon-ship-dich-vu-giao-hang-nhanh-1(1).png">
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!--container-->
    <div class="background-container page-content" style="height: auto">
        <div class="container">
            <!--    table -->
                <%- include('grid-table-cart') %>
            <!--bag-->
            <%- include('grid-bag-cart') %>
            <!--modal-->
            <section class="check-out">
                <div class="row">
                    <div class="col-md-12 btn-checkout slideInLeft" id="shopping">
                        <a style="font-size: 18px;box-shadow: none;" href="/menu"
                            class="btn btn-outline-yellow">Shopping</a>
                    </div>
                    <div class="col-md-6 btn-checkout slideInRight" id="checkout" style="display: none">
                        <a style="font-size: 18px;box-shadow: none;" href="javascript:void(0)"
                            class="btn btn-outline-yellow" data-toggle="modal" data-target="#Modal-login">check out</a>
                    </div>
                </div>
                <!--       modal log in-->
                <div id="Modal-login" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                    aria-hidden="true" data-backdrop="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <!--                       nav tab-->
                                <ul class="nav" role="tablist">
                                    <li class="nav-item">
                                        <p class="nav-link active" data-toggle="tab" href="#login" role="tab"
                                            aria-selected="true" style="cursor: grab">Log In</p>
                                    </li>
                                    <li class="nav-item">
                                        <p class="nav-link" data-toggle="tab" href="#register" role="tab"
                                            aria-selected="false" style="cursor: grab">Register</p>
                                    </li>
                                </ul>
                            </div>
                            <div class="modal-body">
                                <div class="tab-content">
                                    <!--                           nav - log in-->
                                    <div class="tab-pane  show active" id="login" role="tabpanel">
                                        <form class="text-center" action="#!">
                                            <p class="h4 mb-4">Sign in</p>
                                            <!-- Email -->
                                            <input type="email" name="email-login" class="form-control mb-4 fix-input"
                                                placeholder="E-mail">
                                            <!-- Password -->
                                            <input type="password" name="pass-login" class="form-control mb-4 fix-input"
                                                placeholder="Password" autocomplete="off">
                                            <button class="fix-btn btn-outline-yellow " type="button"
                                                data-toggle="modal" data-target="#modal-checkout"
                                                data-dismiss="modal">Sign in</button>
                                            <!-- Register -->
                                            <p>Not a member?
                                                <p role="tab" class="nav-link " data-toggle="tab" href="#register"
                                                    style="cursor: pointer;color: #F2B410">Register</p>
                                            </p>
                                        </form>
                                    </div>
                                    <!--                           nav register-->
                                    <div class="tab-pane" id="register" role="tabpanel">
                                        <form class="text-center" action="#!">
                                            <p class="h4 mb-4">Register</p>

                                            <div class="form-row mb-4">
                                                <div class="col">
                                                    <!-- First name -->
                                                    <input type="text" class="form-control fix-input"
                                                        placeholder="First name">
                                                </div>
                                                <div class="col">
                                                    <!-- Last name -->
                                                    <input type="text" class="form-control fix-input"
                                                        placeholder="Last name">
                                                </div>
                                            </div>
                                            <!-- E-mail -->
                                            <input type="email" name="email-register"
                                                class="form-control mb-4 fix-input" placeholder="E-mail">
                                            <!-- Phone number -->
                                            <input type="text" name="phone-register" class="form-control mb-4 fix-input"
                                                placeholder="Phone number">
                                            <!-- Password -->
                                            <input type="password" name="pass-register"
                                                class="form-control mb-4 fix-input" placeholder="Password"
                                                autocomplete="off">
                                            <!-- Sign up button -->
                                            <button data-toggle="tab" href="#login" class="fix-btn btn-outline-yellow "
                                                type="button">Register</button>
                                            <!-- Social register -->
                                            <p>or Register with:</p>
                                            <a style="color: #F2B410;padding: 0;" href="javascript: void(0)"
                                                class="mx-2" role="button"><i class="fab fa-facebook-f"></i></a>
                                            <a style="color: #F2B410;padding: 0;" href="javascript: void(0)"
                                                class="mx-2" role="button"><i class="fab fa-twitter"></i></a>
                                            <a style="color: #F2B410;padding: 0;" href="javascript: void(0)"
                                                class="mx-2" role="button"><i class="fab fa-instagram"></i></a>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="fix-btn btn-outline-black"
                                    data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!--       modal check out-->
                <form action="#!" method="post">
                    <div id="modal-checkout" class="modal fade" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="true">
                        <div class="modal-dialog modal-dialog-scrollable" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h3>Payment</h3>
                                </div>

                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-12 fix-payment">
                                            <label style="width: 100%">Accepted Cards</label>
                                            <img style="height: 35px;"
                                                src="/images/accept-all-credit-cards-clipart-3.jpg">
                                        </div>
                                        <div class="col-12 fix-payment">
                                            <label>Name on Card</label>
                                            <input required type="text" class="fix-input form-control" name="nameCard"
                                                placeholder="Name on card">
                                        </div>
                                        <div class="col-12 required fix-payment">
                                            <label>Credit Card Number</label>
                                            <input required type="text" class="fix-input form-control" name="CardNumber"
                                                placeholder="Ex: 4283-1095-7452-8427">
                                        </div>
                                        <div class="col-12 fix-payment">
                                            <label>Exp Month</label>
                                            <input required list="Month" class="form-control fix-input" name="month"
                                                placeholder="Jun">
                                            <datalist id="Month">
                                                <option value="Jan">
                                                </option>
                                                <option value="Feb">
                                                </option>
                                                <option value="Mar">
                                                </option>
                                                <option value="Apr">
                                                </option>
                                                <option value="May">
                                                </option>
                                                <option value="Jun">
                                                </option>
                                                <option value="Jul">
                                                </option>
                                                <option value="Aug">
                                                </option>
                                                <option value="Sep">
                                                </option>
                                                <option value="Oct">
                                                </option>
                                                <option value="Nov">
                                                </option>
                                                <option value="Dec">
                                                </option>
                                            </datalist>
                                        </div>
                                        <div class="col-12">
                                            <div class="row">
                                                <div class="col-6">
                                                    <label>Exp Year</label>
                                                    <input required type="number" class="fix-input form-control"
                                                        min="2020" max="20230" name="year" placeholder="Ex: 2020">
                                                </div>
                                                <div class="col-6">
                                                    <label>CVC</label>
                                                    <input required type="number" class="fix-input form-control"
                                                        maxlength="3" minlength="3" name="cvc" placeholder="Ex: 126">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <div class="row" style="width: 100%">
                                        <div class="col-6 pull-left">
                                            <button type="button" class="fix-btn btn-outline-black"
                                                data-dismiss="modal">Close</button>
                                        </div>
                                        <div class="col-6" style="display: flex;justify-content: flex-end;">
                                            <button type="submit" class="fix-btn btn-outline-yellow">check out</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </section>
        </div>
    </div>
    <!-- Central Modal Small -->
    <div class="modal fade top" id="mymodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <!-- Add class .modal-full-height and then add class .modal-right (or other classes from list above) to set a position to the modal -->
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <p>Open: 9h00</p>
                    <p>Close: 22h00</p>
                    <p>Last order: 20h30</p>
                    <p>The default: 11h00</p>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-outline-yellow waves-effect btn-sm" data-dismiss="modal">Understand</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Central Modal Small -->
    <%- include('footer') %>
    <!--java-->
    <script type="text/javascript" src="/lbs/mdBootstrap/js/jquery.js"></script>
    <script type="text/javascript" src="/lbs/mdBootstrap/js/parallax.min.js"></script>
    <script type="text/javascript" src="/lbs/mdBootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/lbs/mdBootstrap/js/mdb.min.js"></script>
    <script type="text/javascript" src="/lbs/mdBootstrap/js/anime.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            new WOW().init();
        });
        anime({
            targets: '.ship-hang',
            translateX: [-1250, 0],
            rotate: [0, 20, 0],
            duration: 3000,
            easing: 'easeInOutExpo',
            translateZ: 100
        });
        anime({
            targets: '.text-shiphang',
            translateX: [-1250, 0],
            duration: 3000,
            easing: 'easeInOutExpo',
            translateZ: 100
        });

    </script>
    <!-- back on top-->
    <script type="text/javascript">
        function toTop() {
            $('html,body').animate({
                scrollTop: 0,
            }, 700)
        }
    </script>
<!--data-->
    <script type="text/javascript">
        $(document).ready(check);
        var cart = window.sessionStorage.getItem("cart");
        $(document).ready(sumary());
    </script>
</body>

</html>
