<% danhmucs.map( (d) => { %>
    <div class="col-md-6 margin-bottom-30">
        <h2 class="menu-section-title"><%= d.Ten %></h2>
        <% menus.map((e) => { %>
            <% if (d.ID === e.LoaiID) { %>
            <div class="menu-wrapper">
                <div class="menu-image" style="background-image: url('<%= e.Anh %>')">
                    <div class="hover-order text-center">
                        <form action="javascript: void(0);" method="post">
                            <input type="hidden" name="IDOrder" value="">
                            <button type="submit" onclick="AddCart('<%= e.ID %>','<%= e.TenSP %>', 1,'<%= e.Gia %>', '<%= e.Anh %>')"><i class="fas fa-shopping-cart"></i></button>
                        </form>
                    </div>
<!--                    <img src="" class="width-100">-->
                </div>
                <div class="menu-description">
                    <div class="menu-list">
                        <h5><%= e.TenSP %></h5>
                        <p class="price"><%=  new Intl.NumberFormat('ja-JP', { style: 'currency', currency: 'USD'}).format(e.Gia); %></p>
                        <span class="menu-dot-line"></span>
                    </div>
                    <p class="menu-ingredients"><%= e.Mota %></p>
                </div>
            </div>
                <% }%>
        <% }) %>
    </div>

<script>

// $(document).ready(window.sessionStorage.clear());
    function AddCart(id,name,quantity,price,image) {
        var test = [];
        let temp = {
            id: id,
            name:name,
            quantity: quantity,
            price: price,
            image: image
        };
        let cart = JSON.parse(sessionStorage.getItem("cart"));
        // console.log(cart);
        if (cart == null) {
            cart = [];
            cart.push(temp);
        } else {
            let index = cart.findIndex((e) => {
                if (e.id === id) return true;
            });
            if (index <= -1) {
                cart.push(temp);
            }else {
                cart[index].quantity += 1;
            }

        }
        test = cart;
        window.sessionStorage.setItem("cart", JSON.stringify(test));
         if (cart.length >=1 ) {
            $('.notice').css('display','block');
            $('#quantity').text(cart.length);
        }
    }
var mang = [];
console.log(parseInt($('.price').text()));
    function getprice() {
    }
</script>
<% })%>
