<!doctype html>
<html lang="en">

<head>
    <title>Reservations</title>
    <link rel="icon" href="/images/pizza.png">
    <%- include('shared-imports') %>
    <link rel="stylesheet" href="/css/reservation.css">
</head>

<body>
    <%- include('header')%>

    <!--header-->
    <div class="parallax" data-parallax="scroll" data-image-src="/images/bg6.jpg" data-position-Y="center">
        <div class="background-color">
            <div class="container">
                <div class="row fix-title-head">
                    <div class="col-md-12 wow  fadeIn" data-wow-delay="0.5s" style="width: 100%;text-align: center">
                        <span class="title-yellow-head">Shale Pizzaass</span>
                    </div>
                    <div class="col-md-12 wow  bounceIn" data-wow-delay="1s" style="width: 100%;text-align: center">
                        <h2 class=" title-h2-head ">SPECIAL MOMENTS</h2>
                    </div>
                    <div class="col-md-12 wow  fadeInUp" data-wow-delay="1.5s" style="width: 100%;text-align: center">
                        <p class="p-head">
                            An unforgettable dining experience
                            in the heart of Detech Tower, VietNamese. <br>
                            Contemporary british menu, inspired by the
                            traditions of Great Britain.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--container-->
    <div class="container">
        <!--    form-book-->
        <section class="form-book">
            <div class="row">
                <div class="col-md-5 wow slideInLeft">
                    <img src="/images/chef2.jpg" alt="" class="img-chef">
                </div>

                <div class="col-md-7 wow slideInRight" style="position: relative">
                    <div class="text-form text-center">
                        <div class="row">
                            <div class="col-md-12 text-title">
                                <p>Reservations</p>
                            </div>
                            <div class="col-md-12 text-h2">
                                <h2>ONLINE BOOKING</h2>
                            </div>
                            <div class="col-md-12 text-end">
                                <p>
                                    Curabitur quas nets lacus ets nulat iaculis
                                    loremis etis nisle varius vitae seditum fugiatum
                                    ligula aliquam qui sequi. Lorem ipsum dolor sit
                                    amet, consectetur adipiscing elit rutrum eleif
                                    arcu sit aspernatur nets fugit, sed quia.
                                </p>
                            </div>
                        </div>
                    </div>
<!--                    fix here-->
 <form name="booking" action="javascript: void(0);">
                                <div class="form-input">
                                    <div class="col-md-6 fa-pull-left" style="z-index: 2">
                                        <input class="fix-input" required type="text" name="name" placeholder="Full Name">
                                        <input class="fix-input" required type="text" name="phone" placeholder="Phone Number">
                                        <input class="fix-input"  type="date" name="date" min="" value="" >
                                    </div>
                                    <div class="col-md-6 fa-pull-right" style="z-index: 2">
                                        <input class="fix-input" required type="email" name="email" placeholder="Email">
                                        <select required class="browser-default custom-select fix-input" name="people">
                                            <option value>How many ?</option>
                                            <option value="1">1 person</option>
                                            <option value="2">2 person</option>
                                            <option value="3">3 person</option>
                                            <option value="4">4 person</option>
                                            <option value="5">5 person</option>
                                            <option value="6">6 person</option>
                                            <option value="7">7 person</option>
                                            <option value="8">8 person</option>
                                            <option value="9">9 person</option>
                                            <option value="10">10 person</option>
                                        </select>
                                        <input onchange="onChangeTime()" class="fix-input"  type="time" name="time">
                                    </div>
                                    <div class="col-md-12 a-submit">
                                        <input
                                                class="btn-outline-yellow"
                                                type="submit"
                                                value="Book Your Table"
                                                onclick="addTable()"
                                        >
                                    </div>
                                </div>
                            </form>
 <div class="thankyou" style="display: none;">
                                    <div class="row">
                                        <div class="col-12">
                                            <h3>Thanks for trusting us.</h3>
                                        </div>
                                        <div class="col-12">
                                            <h4 style="font-weight: 400">You can review or modify the information <a href="/cart">here.</a></h4>
                                        </div>
                                    </div>
                                </div>
<!--                    end fix-->
                </div>
            </div>
        </section>
    </div>
    <!--    video-parallax-->
    <div class="fix-jarallax">
        <div class="jarallax" data-videopreload="preload" data-videoStartTime="4" data-videoLoop="false"
            data-jarallax-video="mp4:./videos/restaurant1.mp4">
            <div class="jarallax">
                <img class="jarallax-img" src="/images/rs2.jpg" alt="">
            </div>
            <div class="container-jarallax">
                <div class="text-center-jaralax">
                    <h1>LET'S ENJOY &ensp;<span>OUR PIZZA</span></h1>
                </div>
            </div>
        </div>
    </div>
    <!--    adversity-->
    <div class="container">
        <section class="adversity">
            <div style="margin-bottom: 20px;">
                <h2 style="cursor:default;font-family: 'Montserrat', sans-serif;">Our secret </h2>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="fix-img wow zoomIn ">
                        <span  class="btn-a">
                            <div class="img-gradient">
                                <img src="/images/m3.jpg" alt="tiet canh" class="img-fluid">
                            </div>
                            <div class="text-type-pizza">
                                <p><%= danhmucs[0].TenSP %></p>
                            </div>
                            <span class="icon-ref">
                                <a href="/blog/<%= danhmucs[0].ID %>">See more</a>
                            </span>
                        </span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="fix-img wow zoomIn">
                        <span class="btn-a">
                            <div class="img-gradient">
                                <img src="/images/m2.jpg" alt="tiet canh" class="img-fluid">
                            </div>
                            <div class="text-type-pizza">
                                <p><%= danhmucs[1].TenSP %></p>
                            </div>
                            <span class="icon-ref">
                                <a href="/blog/<%= danhmucs[1].ID %>">See more</a>
                            </span>
                        </span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="fix-img wow zoomIn">
                        <span href="/blog" class="btn-a">
                            <div class="img-gradient">
                                <img src="/images/m1.jpg" alt="tiet canh" class="img-fluid">
                            </div>
                            <div class="text-type-pizza">
                                <p><%= danhmucs[2].TenSP %></p>
                            </div>
                            <span class="icon-ref">
                                <a href="/blog/<%= danhmucs[2].ID %>">See more</a>
                            </span>
                        </span>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!-- Central Modal Small -->
    <div class="modal fade top" id="mymodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <!-- Add class .modal-full-height and then add class .modal-right (or other classes from list above) to set a position to the modal -->
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <p>Open: 9h00</p>
                    <p>Close: 22h00</p>
                    <p>Last order: 20h30</p>
                    <p>The default: 11h00</p>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-outline-yellow waves-effect btn-sm" data-dismiss="modal">Understand</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Central Modal Small -->

    <%- include('footer') %>

    <!--javascript-->
    <script type="text/javascript" src="/lbs/mdBootstrap/js/jquery.js"></script>
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js"></script>
    <script type="text/javascript" src="/lbs/mdBootstrap/js/moment.js"></script>
    <script type="text/javascript" src="/lbs/mdBootstrap/js/jarallax.min.js"></script>
    <script type="text/javascript" src="/lbs/mdBootstrap/js/jarallax-video.min.js"></script>
    <script type="text/javascript" src="/lbs/mdBootstrap/js/parallax.min.js"></script>
    <script type="text/javascript" src="/lbs/mdBootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/lbs/mdBootstrap/js/mdb.min.js"></script>
    <!--script-->
    <script type="text/javascript">
        $( document ).ready(function() {
            new WOW().init();
        });
    </script>
    <script type="text/javascript">
        var todayDate =new Date();
        todayDate.setDate(todayDate.getDate()+1);
        var InputDate = $('input[type=date]');
        var attrTag = InputDate.attr(
            {
                'value': moment(todayDate).format('YYYY-MM-DD'),
                'min': moment(todayDate).format('YYYY-MM-DD')
            });

        // input time

        var InputTime = $('input[type=time]');
        InputTime.attr({
            'value': '11:00'
        })
        function onChangeTime() {
            if (InputTime.val() <= '20:30' && InputTime.val() >= '09:00') {
            } else {
                $('#mymodal').modal('show');
                InputTime.val('11:00');
            }
        }
    </script>
    <script type="text/javascript">
        let table = window.sessionStorage.getItem("table");

        if (table == null || table == '') {
            $('.thankyou').css('display','none');
            $('form[name=booking]').css('display','block');
        }
        // table = table!==null?table:[];
        if (table.name !== '' && table.phone !== '' && table.people !== '') {
            $('.thankyou').css('display','block');
            $('form[name=booking]').css('display','none');
        }

        function addTable() {
            var data = {
                name: $('input[name=name]').val(),
                phone: $('input[name=phone]').val(),
                date: $('input[name=date]').val(),
                email: $('input[name=email]').val(),
                people: $('select[name=people] ').val(),
                time: $('input[name=time]').val(),
            };
            if (data.name !== '' && data.phone !== '' && data.people !== '') {
                let funcSetTimeOut = setTimeout(() => {
                $('.thankyou').css('display','block');
                $('form[name=booking]').css('display','none');
                clearTimeout(funcSetTimeOut);
                },1500);
            };
            window.sessionStorage.setItem("table", JSON.stringify(data));
        }
    </script>
</body>

</html>
